.bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0px -0.33px 0px #d0d1d3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0 20px;
  z-index: 10;
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 134px;
  height: 5px;
  background: #060606;
  border-radius: 100px;
}